<%- include('../partials/header') %>
    <main>
        <div class="project-header">
            <h1>
                <%= project.name %>
            </h1>
            <p class="project-meta">
                <%= project.category %>
            </p>
            <p class="project-description">
                <%= project.description %>
            </p>
        </div>

        <div class="images">
            <h2></h2>

            <div class="image-list">
                <% images.forEach(img=> { %>
                    <img src="<%= img.path %>" alt="project image" />
                    <% }) %>
            </div>
        </div>

        <div class="skills">
            <h2>Skills Used</h2>

            <div class="skill-list">
                <% skills.forEach(s=> { %>
                    <div class="skill-card">
                        <p>
                            <%= s.skill %>
                        </p>
                    </div>
                    <% }); %>
            </div>
        </div>


        <div class="navigation">
            <p><a href="/projects">&larr; Back to Projects</a></p>
        </div>
    </main>
    <%- include('../partials/footer') %>