<%- include('../partials/header') %>
    <main>
        <h1>Projects</h1>

        <div class="filters">
            <a href="/projects" class="<%= !selectedCategory ? 'active' : '' %>">All</a>

            <% categories.forEach(cat=> { %>
                <a href="/projects?category=<%= cat %>" class="<%= selectedCategory === cat ? 'active' : '' %>">
                    <%= cat %>
                </a>
                <% }) %>
        </div>

        <% Object.keys(groupedProjects).forEach(category=> { %>

            <section class="category-group">
                <h2>
                    <%= category %>
                </h2>

                <div class="project-list">
                    <% groupedProjects[category].forEach(project=> { %>
                        <div class="project-card">
                            <h3>
                                <a href="/projects/<%= project.id %>">
                                    <%= project.name %>
                                </a>
                            </h3>
                            <p>
                                <%= project.description %>
                            </p>
                            <p class="stage">
                                <%= project.stage %>
                            </p>
                        </div>
                        <% }); %>
                </div>
            </section>
            <% }); %>

    </main>
    <%- include('../partials/footer') %>