<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="shortcut icon" href="/public/images/naptime.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">
    <!-- <%- renderStyles() %>
        <%- renderScripts() %> -->

    <% if (NODE_ENV.includes('dev')) { %>
        <script>
            const host = window.location.hostname;
            const currentPort = window.location.port;

            const wsPort = currentPort ? (parseInt(currentPort) + 1) : 3002;

            const ws = new WebSocket(`ws://${host}:${wsPort}`);
            ws.onclose = () => {
                setTimeout(() => location.reload(), 2000);
            };
        </script>
        <% } %>
</head>

<body class="<%= bodyClass %>">
    <header>
        <nav>
                <a href="/projects">Projects</a>
                <a href="/projects/add">Add Project</a>
                <a href="/feedback">Feedback</a>
                <a href="/feedback/responses">Feedback Responses</a>
                <a href="/register">Register</a>
        </nav>
    </header>

    <!-- <% const messages=flash(); 
            const hasMessages=Object.values(messages).some(arr=> arr.length > 0); %>

        <% if (hasMessages) { %>
            <div class="flash-messages">
                <% Object.keys(messages).forEach(type=> { %>
                    <% messages[type].forEach(message=> { %>
                        <div class="flash <%= type %>">
                            <%= message %>
                        </div>
                        <% }); %>
                            <% }); %>
            </div>
            <% } %> -->